Repository votca/votca, pull requests merged in 2021-09, with the labels that each got.

#848 [xtp] Fix for the hdf5 issue
  xtp/CHANGELOG.rst
  xtp/include/votca/xtp/checkpointreader.h
  xtp/include/votca/xtp/checkpointwriter.h
  xtp/src/tests/test_aobasis.cc
Labels: xtp

#852 Update README.rst
  README.rst
  share/doc/INSTALL.rst
Labels: documentation

#855 disabled broken random test
  tools/src/tests/CMakeLists.txt
Labels: tools
